html {
    font-family: "Lucida Console", "Courier New", monospace;
}
body{
    background-color: #AAAAAA;
}
#content {
  margin-left: auto;
  margin-right: auto;
  width: 650px;
}

#greeting-container {
  margin-top: 20px;
}
